<h1>Vacation</h1>
<p>A vacation is when you take a trip to some @Model.Adjectives[0] place</p>
<p>with your @Model.Adjectives[1] family. Usually you go to some place</p>
<p>that is near a/an @Model.Nouns[0] or up on a/an @Model.Nouns[1].</p>
<p>A good vacation place is one where you can ride @Model.PluralNouns[0]</p>
<p>or play @Model.GameNouns[1] or go hunting for @Model.PluralNouns[1]. I like</p>
<p>to spend my time @Model.IngVerbs[0] or @Model.IngVerbs[1].</p>
<p>When parents go on a vacation, they spend their time eating</p>
<p>three @Model.PluralNouns[2] a day, and fathers play golf, and mothers</p>
<p>sit around @Model.Verbs[0]. Last summer, my little brother</p>
<p>fell in a/an @Model.Nouns[2] and got poison @Model.Plants[0] all</p>
<p>over his @Model.BodyPart[0]. My family is going to go to (the)</p>
<p>@Model.Place[0], and I will practice @Model.IngVerbs[3]. Parents</p>
<p>need vacations more than kids because parents are always very</p>
<p>@Model.Adjective[1] and because they have to work @Model.Numbers[0]</p>
<p>hours every day all year making enough @Model.PluralNouns[3] to pay</p>
<p>for the vacation.</p>